
/*.left {
	z-index: 3;
}


.right {
	position: relative;
	z-index: 1;
}
*/

body .modal {
	position: fixed;
	top: 100px;
	left: 100px;
	right: 100px;
	bottom: 100px;
	border: 1px solid #ccc;
	background: #fff;
	overflow: auto;
	border-radius: 10px;
	outline: none;
	padding: 20px;
	display: block;
}